# Email 設置
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SENDER_EMAIL=aaaa@gmail.com
EMAIL_PASSWORD=goxvlni
TO_EMAILS=ccccccccs@blogger.com

# Telegram 設置
TELEGRAM_BOT_TOKEN=5388:AAEqxkCrTMO_fo
TELEGRAM_CHANNEL_ID=-1001148

# MongoDB 連接設置
MONGO_URI=mongodb+srv://david:9N3pm@cl.mongodb.net/

USE_TRANSFORMER=true
TRANSFORMER_PERIOD=2y

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/13174623448


# MySQL 設置
USE_MYSQL=true
MYSQL_HOST=your_host
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=stock_predictions
MYSQL_PORT=3306
